body {
  margin: 0;
}
header{
  height: 60px;
  width: 100%;
  background-color: rgb(44, 43, 43);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}
.form_filter {
  width: 25%;
}
.filter{
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 15px;
  text-align: center;
}
.cont_task {
  height: 470px;
  width: 30%;
  margin: 50px auto;
  font-family: sans-serif;
  background-color: #ccc;
}
h1{
  text-align: center;
  background-color: rgb(13, 121, 172);
  padding: 10px;
  color: #fff;
  margin: 0;
}
.form {
  box-sizing: border-box;
  padding: 10px;
  margin: 20px 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  cursor: pointer;
}
.caja {
  outline: none;
  width: 65%;
  outline: none;
  padding: 10px 0;
  border: none;
  text-align: center;
}
button {
  padding: 10px 30px;
  border: none;
  background-color: rgb(17, 145, 231);
  color: #fff;
  cursor: pointer;
  outline: none;
}
.contenedor {
  height: 250px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.element_task {
  height: 40px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.delete {
  cursor: pointer;
  background-color: rgb(251, 38, 38);
  padding: 10px;
}
p{
  width: 80%;
  padding: 10px;
  background-color: rgb(13, 121, 172);
  text-transform: lowercase;
  
}
.total_task {
  margin: 10px 30px;
  background-color: rgb(13, 121, 172);
  padding: 7px 10px;
  color: #fff;
}
@media (max-width: 900px) {
  .cont_task {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .cont_task {
    width: 80%;
  }
  .filter {
    width: 50%;
  }
  p {
    font-size: 1em;
  }
}
/* p{
    text-decoration: line-through;
} */
